[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "*"
pyyaml = "*"
django = ">=4.1"
uwsgi = "*"
ipython = "*"
django-debug-toolbar = "*"
python-decouple = "*"
pytz = "*"

[requires]
python_version = "3.9"
