[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
jinja2 = "*"
pyyaml = "*"
django = ">=4.2,<5.0"
uwsgi = ">=2.0.22"
django-debug-toolbar = "*"
python-decouple = "*"
pytz = "*"

[requires]
python_version = "3.11"
