html {
    width: 100%;
    font-family: "Segoe UI", "Verdana", sans-serif;
    padding: 0px;
    background-color: hsl(0, 0%, 90%);
}

body {
    height: 100%;
    margin: 0px;
}

div.header {
    position: relative;
    height: 36mm;
    padding: 3mm 5mm;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

div.header div.title {
    display: inline-block;
}

div.header img.logo {
    height: 30mm;
}

div.header a, div.menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    color: white;
}

div.header a:visited {
    color: white;
}

div.header div.login-status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    text-align: right;
    min-width: 20mm;
    padding: 4mm;
}

div.header div.login-status a {
    font-size: 80%;
    font-weight: normal;
}

div.header div.login-status a.username {
    font-weight: 600;
    display: block;
    font-size: 100%;
}

div.menu-strip {
    height: 9mm;
}

div.menu-strip ul {
    display: block;
    position: absolute;
    width: 50%;
    height: auto;
    left: 18%;
    top: 50%;
    padding: 4mm 6mm;
    transform: translateY(-50%);
    list-style-type: none;
    list-style-position: outside;
}

div.menu-strip ul li {
    display: block;
    height: 100%;
    width: auto;
    float: left;
    padding: 0mm 5mm;
}

div.menu-strip img.menu-item {
    height: 8mm;
}


div.entire {
    margin: auto;
    max-width: 1250px;
    background-size: 4px 4px;
    background-color: white;
    background-image:
       linear-gradient(to right, hsl(0, 0%, 95%) 1px, transparent 3px),
       linear-gradient(to bottom, hsl(0, 0%, 95%) 1px, transparent 3px);
}

div.page {
    padding: 7mm;
    background-image: linear-gradient(to right, hsla(0, 0%, 90%, 100%) 0%, hsla(0, 0%, 90%, 0%) 30%, hsla(0, 0%, 90%, 0%) 70%, hsla(0, 0%, 90%, 100%) 100%);
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 200%;
    font-weight: 500;
    padding-bottom: 8mm;
    line-height: 1.5;
}

div.authortime {
    width: 100%;
    height: auto;
    padding-bottom: 20mm;
}

span.author {
    display: block;
    float: left;
    font-size: 130%;
    font-style: italic;
    padding-bottom: 2mm;
    width: 80%;
}

span.affiliation {
    display: block;
    float: left;
    font-style: italic;
    font-size: 90%;
    width: 80%;
}

span.time {
    display: block;
    float: right;
    height: 100%;
}

p {
    clear: both;
    line-height: 1.5;
}

table {
    width: 100%;
    border: 0px;
}

table th.day {
    text-align: left;
    font-size: 160%;
    color: black;
    padding: 8px 5px 11px;
    border-bottom: 2px solid hsl(0, 0%, 0%);
}

table span.dow {
    font-weight: 600;
}

table tr {
    padding: 0px 0px;
}

table.programme tr {
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

table tr.last {
    border-bottom: 20px solid hsla(0, 0%, 0%, 0%);
}

table td {
    padding: 3mm 4mm;
    vertical-align: middle;
    line-height: 1.5;
}

table td.time, table td.person {
    white-space: nowrap;
}

table td a, table td a:visited {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

table tr.category-O {
    color: hsl(240, 0%, 40%);
}

table tr.category-M {
    color: hsl(0, 90%, 40%);
    text-transform: uppercase;
}

table tr.category-T {
    color: hsl(225, 0%, 30%);
}

table tr.category-W {
    color: hsl(100, 90%, 30%);
    text-transform: uppercase;
}

abbr {
    text-decoration: none;
}

div.page {
    line-height: 150%;
}
