html {
    width: 100%;
    font-family: "Segoe UI", "Verdana", sans-serif;
    padding: 0px;
}

body {
    height: 100%;
    margin: 0px;
}

div.header {
    height: 16mm;
    padding: 12px;
    background-color: hsl(320, 100%, 50%);
}

div.header div.title {
    display: inline-block;
    float: left;
    width: 30%;
}

div.header h1 {
    margin: 0px 10px;
}

div.header ul {
    height: 100%;
    display: block;
    float: left;
    padding: 8px;
    list-style-type: none;
    list-style-position: outside;
}

div.header ul li {
    display: block;
    width: auto;
    height: 100%;
    float: left;
    vertical-align: baseline;
}

div.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
    color: black;
}

div.header a:visited {
    color: black;
}

div.header div.login-status {
    display: block;
    float: right;
    text-align: right;
    width: 10%;
    min-width: 200px;
    padding: 1mm;
}

div.header div.login-status a {
    font-size: 80%;
    font-weight: normal;
}

div.header div.login-status a.username {
    font-weight: 600;
    display: block;
    font-size: 100%;
}

div.entire {
    margin: auto;
    max-width: 1250px;
    background-color: hsl(0, 20%, 95%);
}

div.page {
    padding: 7mm;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 200%;
    font-weight: 500;
    padding-bottom: 8mm;
    line-height: 1.5;
}

div.authortime {
    width: 100%;
    height: auto;
    padding-bottom: 20mm;
}

span.author {
    display: block;
    float: left;
    font-size: 130%;
    font-style: italic;
    padding-bottom: 2mm;
    width: 80%;
}

span.affiliation {
    display: block;
    float: left;
    font-style: italic;
    font-size: 90%;
    width: 80%;
}

span.time {
    display: block;
    float: right;
    height: 100%;
}

p {
    clear: both;
    line-height: 1.5;
}

table {
    width: 100%;
    background-color: hsl(0, 50%, 90%);
    border: 0px;
}

table th.day {
    font-size: 160%;
    background-color: hsl(290, 50%, 30%);
    color: white;
    padding: 8px 0px 11px;
    border: 0px;
}

table tr {
    padding: 0px 0px;
}

table td {
    padding: 3mm 4mm;
    vertical-align: middle;
    line-height: 1.5;
}

table td.time, table td.person {
    white-space: nowrap;
}

table td.title {
    width: 10000px;
}

table td a, table td a:visited {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

table tr.category-O {
    background-color: hsl(240, 0%, 80%);
}

table tr.category-M {
    background-color: hsl(0, 100%, 80%);
}

table tr.category-T {
    background-color: hsl(225, 100%, 90%);
}

table tr.category-W {
    background-color: hsl(100, 100%, 80%);
}

abbr {
    text-decoration: none;
}
