html {
    width: 100%;
    font-family: "Segoe UI", "Verdana", sans-serif;
    padding: 0px;
}

body {
    height: 100%;
    margin: 0px;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: hsl(0, 0%, 92%);
    background-image: url("/static/images/background.png");
    background-repeat: repeat;
    background-size: 1000px 560px;
}

div.wrapper {
}

div.entire {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    border-color: hsl(0, 0%, 85%);
    border-style: solid;
    border-width: 0px 1px;
    background-size: 5px 5px;
    background-color: hsl(0, 0%, 100%);
    background-image:
       linear-gradient(to right, hsl(0, 0%, 95%) 1px, transparent 5px),
       linear-gradient(to bottom, hsl(0, 0%, 95%) 1px, transparent 5px);
}

div.header, div.footer {
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

div.header {
    position: relative;
    height: 36mm;
    padding: 3mm 5mm;
    color: white;
}

div.footer {
    height: 12mm;
    color: hsl(0, 0%, 50%);
}

span.name {
    font-weight: 600;
    color: hsl(0, 0%, 70%);
}

ul {
}

ul li {
}

ul.strip {
    height: 100%;
    position: relative;
    padding: 0mm 5mm;
    list-style-type: none;
    list-style-position: outside;
}

ul.strip li {
    display: block;
    height: 100%;
    float: left;
    margin: 0 auto;
    vertical-align: middle;
    padding: 4mm 5mm 0mm 5mm;
}

ul.strip a.badge {
    display: block;
    float: right;
    padding-top: 3mm;
}

div.header div.title {
    display: inline-block;
}

div.header img.logo {
    height: 30mm;
}

div.header a, div.header a:visited {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    color: white;
}

div.header div.login-status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    text-align: right;
    min-width: 20mm;
    padding: 4mm;
}

div.header div.login-status a {
    font-size: 80%;
    font-weight: normal;
}

div.header div.login-status a.username {
    font-weight: 600;
    display: block;
    font-size: 100%;
}

div.menu-strip {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

div.menu-strip ul li {
    height: 100%;
    width: 40mm;
    padding: 0mm 5mm;
}

div.menu-strip ul li a {
    display: block;
    position: absolute;
    font-size: 150%;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

div.menu-strip ul li a:before,
div.menu-strip ul li a:after {
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

div.menu-strip ul li a:before {
    color: hsl(330, 100%, 50%);
    transform: rotate(1deg);
    z-index: -1;
}

div.menu-strip ul li a:hover:before {
    transform: rotate(-1deg);
}

div.menu-strip ul li a::after {
    color: hsl(180, 100%, 50%);
    transform: rotate(-1deg);
    z-index: -2;
}

div.menu-strip ul li a:hover:after {
    transform: rotate(1deg);
}

div.menu-strip img.menu-item {
    height: 8mm;
}


div.page {
    line-height: 150%;
    padding: 10mm;
    background-image: linear-gradient(to right, hsla(0, 0%, 88%, 100%) 0%, hsla(0, 0%, 88%, 0%) 20%, hsla(0, 0%, 88%, 0%) 80%, hsla(0, 0%, 88%, 100%) 100%);
    min-height: calc(100vh - 48mm);
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 200%;
    font-weight: 500;
    padding-bottom: 5mm;
    line-height: 1.5;
}

h3 {
    font-size: 125%;
    font-weight: 500;
    padding-top: 8mm;
    padding-bottom: 5mm;
    line-height: 1.5;
}

div.authortime {
    width: 100%;
}

div.author {
    line-height: 1.5;
    width: 80%;
    float: left;
}

div.time {
    width: 20%;
    float: right;
    vertical-align: middle;
}

span.author {
    font-size: 130%;
    font-style: italic;
    width: 100%;
}

span.affiliation {
    color: hsl(0, 0%, 30%);
    font-style: italic;
    font-size: 80%;
}

p {
    clear: both;
    line-height: 1.5;
}

div.title {
    width: 100%;
    display: flex;
}

div.title h2 {
    flex: 1;
}

div.title div.time {
    flex: 0 0 200px;
}

span.time {
    display: block;
    font-size: 120%;
    height: 100%;
    text-align: right;
    vertical-align: middle;
    padding: 4mm 0mm;
}

table {
    width: 100%;
    border: 0px;
}

table th.day {
    text-align: left;
    font-size: 160%;
    color: black;
    padding: 8px 0px 11px;
    border-bottom: 2px solid hsl(0, 0%, 0%);
}

table th.day a, table th.day a:visited {
    text-decoration: none;
    color: black;
}

span.dow {
    font-weight: 600;
}

table tr {
    padding-top: 3mm;
    padding-bottom: 3mm;
}

table.programme tr:not(:first-child) {
    border-top: 1px solid hsl(0, 0%, 85%);
}

table.programme tr.abstract {
    border-top: 0px none;
    color: hsl(0, 0%, 30%);
    font-style: italic;
}

table tr.last {
    border-bottom: 1px solid transparent;
}

table td {
    padding-top: 3mm;
    padding-bottom: 3mm;
    padding-right: 8mm;
    vertical-align: middle;
}

table tr.abstract td {
    padding-top: 0mm;
}

table td:last-child {
    padding-right: 0mm;
}

table td.time, table td.person {
    white-space: nowrap;
}

table td a, table td a:visited {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

table tr.category-O {
    color: hsl(240, 90%, 30%);
}

table tr.category-M {
    color: hsl(0, 90%, 40%);
    text-transform: uppercase;
}

table tr.category-T {
    color: hsl(225, 0%, 20%);
}

table tr.category-W {
    color: hsl(100, 90%, 30%);
    text-transform: uppercase;
}

abbr {
    text-decoration: none;
}

span.empty {
    color: hsl(0, 0%, 50%);
    font-style: italic;
}

p.abstract {
    padding-top: 0mm;
}
