{% load static %}

<div class="bar header">
    <div class="title">
        <img src="{% static 'images/web_logo.png' %}" alt="Logo" class="logo" />
    </div>
    {% now "Y" as current_year %}
    <div class="menu-strip">
        <ul class="strip">
            <li>
                <div class="fancy-menu">
                    <a href="{% url 'programme' year=current_year %}" data-text="Program">
                        Program
                    </a>
                </div>
            </li>
            <li>
                <div class="fancy-menu">
                    <a href="{% url 'participants' year=current_year %}" data-text="Účastníci">
                        Účastníci
                    </a>
                </div>
            </li>
            {% if request.user.is_staff %}
                <li>
                    <div class="fancy-menu">
                        <a href="{% url 'admin:index' %}" data-text="Admin">
                            Admin
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="login-status">
        {% if request.user.is_authenticated %}
            <a href="{% url 'participant' username=request.user.username %}" class="username logged">{{ request.user.get_natural_name }}</a>
            <a href="{% url 'logout' %}">odhlásiť sa</a>
        {% else %}
            <a class="username not-logged">neprihlásené</a>
            <a href="{% url 'login' %}">prihlásiť sa</a>
        {% endif %}
    </div>
</div>
