{% extends 'core/base.html' %}
{% load astro %}

{% block page %}
    <h2>
        Zoznam účastníkov
    </h2>
    <table>
        {% for participant in participants %}
            <tr>
                <td>
                    <a href="{% url 'participant' username=participant.username %}">{{ participant.get_full_name }}</a>
                </td>
                <td>
                    <span class="affiliation">
                        {% for aff in participant.current_affiliations %}
                            {{ aff.full_name }}
                        {% endfor %}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
