{% extends 'core/base.html' %}
{% load astro %}

{% block page %}
    <h2>
        {{ participant.get_full_name }}
    </h2>
    <div class="authortime">
        <span class="affiliation">
            {% for aff in participant.affiliations.all %}
                {{ aff.full_name }}
            {% endfor %}
        </span>
    </div>
    {% for par in participant.participation_set.all %}
        <h3>
            {{ par.event }}
            {% if par.organizer %}
                (organizátor)
            {% endif %}
            {% if par.online %}
                (online)
            {% endif %}
        </h3>
        {% if participant.talks %}
            <ul>
                {% for talk in participant.talks %}
                    {% if talk.event.code == par.event.code %}
                    <a href="{% url 'slot' talk.id %}">{{ talk.title }}</a>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    <p>
        {{ participant.about }}
    </p>
{% endblock %}
