{% extends 'core/base.html' %}
{% load astro %}

{% block page %}
    <h2>
        {{ participant.get_natural_name }}
        {% if perms.core.change_event %}
            <a class="admin" href="{% url 'admin:core_participant_change' participant.id %}">&#x270E;</a>
        {% endif %}
    </h2>
    <div class="authors author">
        <ul class="affiliation">
            {% for aff in participant.all_affiliations %}
                <li>{{ aff.institute.full_name }} ({{ aff.start|date:"Y" }} &ndash; {{ aff.end|date:"Y"|default:"súčasnosť" }})</li>
            {% endfor %}
        </ul>
    </div>
    <p>
        {{ participant.about }}
    </p>
    {% regroup participant.talks by event as talks_by_event %}
    {% for event, talks in talks_by_event %}
        <h3>
            {{ event|default_if_none:"Nezaradené" }}
            {% if event.organizer %}
                (organizátor)
            {% endif %}
            {% if par.online %}
                (online)
            {% endif %}
        </h3>
        <ul>
        {% for talk in talks %}
            <li>
                <a href="{% url 'slot' talk.id %}">{{ talk.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
