{% extends 'core/base.html' %}
{% load astro %}

{% block page %}
    <h2>
        {{ participant.get_natural_name }}
    </h2>
    <div class="authors author">
        <div class="affiliation">
            {% for aff in participant.institutes.all %}
                {{ aff.full_name }}
            {% endfor %}
        </div>
    </div>
    <p>
        {{ participant.about }}
    </p>
    {% regroup participant.talks by event as talks_by_event %}
    {% for event, talks in talks_by_event %}
        <h3>
            {{ event }}
            {% if event.organizer %}
                (organizátor)
            {% endif %}
            {% if par.online %}
                (online)
            {% endif %}
        </h3>
        <ul>
        {% for talk in talks %}
            <li>
                <a href="{% url 'slot' talk.id %}">{{ talk.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
