{% extends 'core/base.html' %}
{% load astro tz %}

{% block pagetitle %}
    <h2>
        Program Astroworkshopu {{ current_event.code }}
        {% if perms.core.change_event %}
            <a class="admin" href="{% url 'admin:core_event_change' current_event.id %}">&#x270E;</a>
        {% endif %}
    </h2>
{% endblock pagetitle %}

{% block page %}
    <table class="programme">
        {% regroup slots by date as slots_date %}
        {% for day, slots_day in slots_date %}
            <tr>
                <th class="day" colspan="4">
                    {% if day is None %}
                        <span class="dow">nezaradené</span>
                    {% else %}
                        <a href="{% url 'programme-day' day.year day.month day.day %}">
                            <span class="dow">{{ day|date:"l" }}</span>
                            <span class="ymd">{{ day|date:"Y-m-d"|replace:"#-#&dash;" }}
                        </a>
                    {% endif %}
                </th>
            </tr>
            {% for slot in slots_day %}
                <tr class="category-{{ slot.category }}{% if forloop.last %} last{% endif %}">
                    <td class="time">
                        {{ slot.start|timezone:"Europe/Bratislava"|time:"H:i" }}
                        {% if slot.start and slot.duration > 0 %}
                            &ndash;&nbsp;{{ slot.start|add_minutes:slot.duration|timezone:"Europe/Bratislava"|time:"H:i" }}
                        {% endif %}
                    </td>
                    <td class="person">
                        {% for person in slot.sorted_authors %}
                            <a href="{% url 'participant' person.username %}">{{ person.get_natural_name }}</a>
                            {% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                    </td>
                    <td class="title">
                        <a href="{% url 'slot' id=slot.id %}">{{ slot.title }}</a>
                    </td>
                    {% block abstract %}
                    {% endblock abstract %}
                </tr>
            {% endfor %}
        {% empty %}
            <span class="empty">V tento deň sa nekoná žiadna akcia.</span>
        {% endfor %}
    </table>
{% endblock page %}
