{% extends 'core/base.html' %}
{% load astro tz %}

{% timezone "Europe/Moscow" %}
{% block page %}
    <table>
        {% regroup slots by date as slots_date %}
        {% for day, slots_day in slots_date %}
            <tr>
                <th class="day" colspan="4">{{ day|date:"l Y-m-d"|default:"zatiaľ nezaradené" }}</th>
            </tr>
            {% for slot in slots_day %}
                <tr class="category-{{ slot.category }}">
                    <td class="time">
                        {{ slot.start|timezone:"Europe/Bratislava"|time:"H:i" }}
                        {% if slot.start and slot.duration > 0 %}
                            &ndash;&nbsp;{{ slot.start|add_minutes:slot.duration|timezone:"Europe/Bratislava"|time:"H:i" }}
                        {% endif %}
                    </td>
                    <td class="person">
                        {% for person in slot.people %}
                            <a href="{% url 'participant' person.username %}">{{ person.get_full_name }}</a>
                            {% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                    </td>
                    <td class="title">
                        <a href="{% url 'slot' id=slot.id %}">{{ slot.title }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
{% endtimezone %}
