{% extends 'core/base.html' %}
{% load astro %}

{% block page %}
    <table>
        {% regroup slots by date as slots_date %}
        {% for day, slots_day in slots_date %}
            <tr>
                <th class="day" colspan="4">{{ day|date:"l Y-m-d" }}</th>
            </tr>
            {% for slot in slots_day %}
                <tr>
                    <td class="time">{{ slot.start|time:"H:i" }}&nbsp;&ndash;&nbsp;{{ slot.start|add_minutes:15|time:"H:i" }}</td>
                    <td class="person">{{ slot.person|default:"" }}</td>
                    <td><a href="{% url 'slot' id=slot.id %}">{{ slot.title }}</a></td>

                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
