{% extends 'core/base.html' %}
{% load tz astro %}

{% block page %}
    <div class="title">
        <h2>
            {{ slot.title }}
        </h2>
        <div class="time">
            <span class="time">
                {{ slot.start|timezone:"Europe/Bratislava"|date:"l H:i" }}
                {% if slot.start and slot.duration > 0 %}
                    &ndash;&nbsp;{{ slot.start|add_minutes:slot.duration|timezone:"Europe/Bratislava"|time:"H:i" }}
                {% endif %}
            </span>
        </div>
    </div>
    <div class="authortime">
        <div class="author">
            {% if slot.people_count > 0 %}
                {% regroup slot.people by current_affiliations as affiliated %}
                {% for affs, people in affiliated %}
                    <span class="author">
                        {% for person in people %}
                            {{ person.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                    <br />
                    <span class="affiliation">
                        {% for aff in affs %}
                            {{ aff.full_name }}<br />
                        {% endfor %}
                    </span>
                    <br />
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <p class="abstract">
        {% if slot.abstract %}
            {{ slot.abstract|replace:"#\n#<br />" }}
        {% else %}
            {% if slot.type == Slot.CATEGORY_TALK %}
                <span class="empty">
                    Táto prednáška nemá abstrakt.
                </span>
            {% endif %}
        {% endif %}
    </p>
{% endblock %}
