{% extends 'core/base.html' %}
{% load astro %}

{% block page %}
    <h2>
        {{ slot.title }}
    </h2>
    <div class="authortime">
        <span class="author">
            {% if slot.people_count == 0 %}
            {% elif slot.people_count == 1 %}
                {{ slot.people.0 }}
            {% else %}
                {% regroup slot.people by affiliation as affiliated %}
                {% for aff, person in affiliated %}
                    {{ aff|default:"" }}
                {% endfor %}
            {% endif %}
        </span>
        <span class="affiliation">
            {% for aff in slot.people.affiliations.all %}{{ aff.full_name }}{% endfor %}
        </span>
        <span class="time">
            {{ slot.start|date:"l H:i" }}
            {% if slot.start and slot.duration > 0 %}
                &ndash;&nbsp;{{ slot.start|add_minutes:slot.duration|time:"H:i" }}
            {% endif %}
        </span>
    </div>
    <p>
        {{ slot.abstract }}
    </p>
{% endblock %}
