{% extends 'core/base.html' %}
{% load tz astro %}

{% block page %}
    <div class="title">
        <h2 class="slot-title">
            {{ slot.title }}
        </h2>
        <div class="time">
            <div class="time-inner">
                <span class="time">
                    {{ slot.start|timezone:"Europe/Bratislava"|date:"l Y-m-d"|replace:"#-#&dash;" }}
                    {{ slot.start|timezone:"Europe/Bratislava"|date:"H:i" }}
                    {% if slot.start and slot.duration > 0 %}
                        &ndash;&nbsp;{{ slot.start|add_minutes:slot.duration|timezone:"Europe/Bratislava"|time:"H:i" }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="authors">
        {% if slot.people_count > 0 %}
            {% regroup slot.sorted_authors by current_affiliations as affiliated %}
            {% for affs, people in affiliated %}
                <div class="author">
                    <div class="name">
                        {% for person in people %}
                            {{ person.get_natural_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="affiliation">
                        {% for aff in affs %}
                            {{ aff.full_name }}<br />
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <p class="abstract">
        {% if slot.abstract %}
            {{ slot.abstract|replace:"#\n#<br />" }}
        {% else %}
            {% if slot.category == slot.CATEGORY_TALK %}
                <span class="empty">
                    Táto prednáška nemá abstrakt.
                </span>
            {% endif %}
        {% endif %}
    </p>
    {% if slot.presentation %}
        <p>
            <a href="{{ slot.presentation.url }}" target="_blank">prezentácia</a>
        </p>
    {% endif %}
{% endblock %}
